
/* A caixa branca (Card) */
.card {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 22px; /* Isso faz as bordas bem arredondadas */
  width: 400px; /* Ajuste conforme necessário */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
  font-family: sans-serif;
  text-align: left;
}

/* Título dentro da caixa */
.card h2 {
  color: #2c3e50;
  font-size: 29px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Texto descritivo */
.card p {
  color: #7f8c8d;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* O botão azul */
.btn-blue {
  display: inline-block;
  background-color: #0066ff; /* Cor azul do Ticket Sports */
  color: white;
  padding: 12px 25px;
  border-radius: 17px; /* Botão totalmente arredondado */
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-blue:hover {
  background-color: #0058cc; /* Fica um pouco mais escuro ao passar o mouse */
}

/* estilização da barra de pesquisa do meio*/
.search-container {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 15px; 
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  width: 90%;
  
  /* POSICIONAMENTO PARA DESCER A BARRA */
  position: absolute;
  bottom: 220px; /* Empurra para a borda de baixo. Se quiser mais baixo, aumente para -40px ou -50px */
  left: 50%;
  transform: translateX(-50%);
  margin: 0; /* Remova o margin auto anterior */
  z-index: 99;
}

.filter-group {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-right: 1px solid #eee; /* Linha divisória entre os itens */
  color: #666;
  cursor: pointer;
}

.filter-group:last-of-type {
  border-right: none; /* Remove a linha do último item antes do botão */
}

.btn-search {
    background-color: #0066ff;
  color: white;
  border: none;
  padding: 12px 35px;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 600px;
}

/* Remove a borda preta ao clicar em qualquer coisa dentro da barra */
.search-container *, .search-container *:focus {
    outline: none !important;
}

/* Se você tiver um <input> dentro do filter-group, garanta que ele também não tenha borda */
.filter-group input {
    border: none;
    outline: none;
}
